
@model Car2Go.Data.Models.Car
         @{ViewData["Title"] = "Details cars";}

<div class="container">

 
   
    <h1 style="margin-top:2%" class="my-4">
        @Model Details 
    </h1> 
    <hr class="border-info" />

    @if (User.IsInRole("Administrator"))
        {
<a class="btn btn-info" asp-controller="Cars" asp-area="Administration" asp-action="Edit" asp-route-id="@Model.Id">Edit Car</a>
<a class="btn btn-danger" asp-controller="Cars"  asp-area="Administration" asp-action="Delete" asp-route-id="@Model.Id" data-confirm="This car will become hidden for use in the site. All related orders and reviews will remain unchanged. Continue?">Delete Car</a>
        }
       
<div class="row">
    <div class="col-md-8">
        <img class="img-fluid" src="@Html.DisplayFor(model => model.Image)" alt="">
    </div>
    <div class="col-md-4">
        <h3 class="my-3">Model Description</h3>
        <hr class="border-primary" />
        <p> @Html.DisplayFor(model => model.Description)</p>
        <h3 class="my-3">Model Details</h3>
        <hr class="border-primary" />
        <h6><i class="fas fa-cogs"></i> Gear Type:  @Html.DisplayFor(model => model.GearType).ToString()</h6>
        <h6><i class="fas fa-fan"></i> Air Conditioner: Yes </h6>
        <h6><i class="fas fa-location-arrow"></i> GPS Navigation: Yes </h6>
    </div>
</div>
    <br />

    
    <form>
 <input type="button" value="Go back!" onclick="history.back()">
 <style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>
</form>
    

    @section Scripts {
        <partial name="~/Views/Shared/_DataValidationAndConfirmScripts.cshtml" />
      
    }

  </div>